################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Net5Microservice/.vs/Net5Microservice
/Net5Microservice/Directory/obj
/Net5Microservice/Directory/bin/Debug/net5.0
/Net5Microservice/bin/Debug
/Net5Microservice/obj
/Net5Microservice/Feeder/bin/Debug/net5.0
/Net5Microservice/Feeder/obj
