################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Net5Microservice/.vs/Net5Microservice
/Net5Microservice/Directory/obj
/Net5Microservice/Directory/bin/Debug/net5.0
/Net5Microservice/bin/Debug
/Net5Microservice/obj
/Net5Microservice/Feeder/bin/Debug/net5.0
/Net5Microservice/Feeder/obj
/Net5Microservice/.docker/rabbitmq
/Net5Microservice/Publisher/obj
/Net5Microservice/Publisher/bin/Debug/net5.0
/Net5Microservice/Consumer/bin/Debug/net5.0
/Net5Microservice/Consumer/obj
/Net5Microservice/Report/obj
/Net5Microservice/Report/bin/Debug/net5.0
/Net5Microservice/ClientApp/bin/Debug/netcoreapp3.1
/Net5Microservice/ClientApp/obj
/Net5Microservice/ClientApp/bin/Debug/net5.0
